<ion-header>
    <ion-navbar>
        <ion-title>Detalhe da Carona</ion-title>
    </ion-navbar>
</ion-header>

<ion-content >
    <ion-card>
        <ion-item class="item item-block itemios">
            <table>
                <tr>
                    <td>
                        <ion-avatar item-start="">
                            <img id="foto" [src]=carona.motorista.foto>
                        </ion-avatar>
                    </td>
                    <td>
                        <tr>
                            <td> <h2 id="nome">{{carona.motorista.nome}}</h2> </td> 
                        </tr>
                        <tr>
                            <td> <h2 id="idade">{{carona.motorista.idade}} anos de idade</h2> </td>
                        </tr>
                    </td>
                </tr>                    
            </table>

            <table>
                <tr> <h2 id="origem">Origem: DESCOBRIR COMO CAPTURAR ESSES CAMPOS</h2> </tr>
                <tr> <h2 id="destino">Destino: DESCOBRIR COMO CAPTURAR ESSES CAMPOS</h2> </tr> 
                <tr> <h2 id="quantidade">Corridas realizadas: DESCOBRIR COMO CAPTURAR ESSES CAMPOS</h2> </tr>
                <tr> <button ion-button round id="avaliações"> Avaliações Anteriores </button> </tr>    
                <tr>
                    <rating 
                        readOnly="false" 
                        max="5" 
                        emptyStarIconName="star-outline" 
                        halfStarIconName="star-half" 
                        starIconName="star" 
                        nullable="false"
                        id="rating"
                    >
                    </rating>
                </tr>
            </table>

        </ion-item>
    </ion-card>
    <button (click)="solicitarCarona()" *ngIf="usuario.tipo == 'caroneira'" ion-button full color="secondary" id="bt_solicitar">                    
            Solicitar
    </button>
    
    <ion-card *ngIf="usuario.tipo == 'motorista'">
        <ion-card-content>
            <ion-item-divider color='light'>
                <ion-icon ios="ios-person-add" md="md-person-add" item-left></ion-icon>
                Caroneiras nesta Corrida
            </ion-item-divider>

            <ion-list >
                <ion-item *ngFor="let caroneira of caroneiras" class="item item-block item-ios">
                    <ion-avatar item-start="">
                        <img class="caroneira caroneira-foto" [src]="caroneira.foto">
                    </ion-avatar>
                    <table>
                        <tr>
                            <td>
                                <h2 class="caroneira" id="caroneira-nome" name="nome">{{carona.caroneiras[0].nome}}</h2>
                            </td>
                        </tr>
            
                        <tr>
                            <td>
                                <h2 class="caroneira" id="caroneira-idade">{{caroneira.idade}} anos de idade</h2>
                            </td>
                        </tr>
                    </table>
                </ion-item>
            </ion-list>
        </ion-card-content>        
    </ion-card>
    

</ion-content>