page-detalhe-carona {
    #foto{
        height: 80px;
        width: 80px;
        // position: absolute;
    }
    #nome {
        font-style:italic;
        font-size: 130%;
        color: #000000;
        text-align: left;
    }
    rating{
        font-size: 150%;
    }

    #caroneira-nome{
        font-style:italic;
    }
}
