<ion-header>

    <ion-navbar>
        <ion-title>Cadastro de Caronas</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <form #FormCaroneira="ngForm">
        <ion-card>
            <ion-card-content>

                <input [(ngModel)]="_caronaService.carona.key" name="key" type="hidden">
                <ion-item-divider color='light'>
                    <ion-icon ios="ios-compass" md="md-compass" item-left></ion-icon>
                    Origem e Destino da Viagem
                </ion-item-divider>
                <ion-item>
                    <table>
                        <tr>
                            <td>
                                <button id="origem" class="mapa" ion-button block outline (click)="abrirMapa('origem')">
                                    <ion-icon *ngIf="(retorno_origem==false)" ios="ios-map" md="md-map"></ion-icon>
                                    <ion-icon *ngIf="(retorno_origem==true)" ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
                                </button>
                            </td>
                            <td>
                                <button id="destino" class="mapa" ion-button block outline (click)="abrirMapa('destino')">
                                    <ion-icon *ngIf="(retorno_destino==false)" ios="ios-map" md="md-map"></ion-icon>
                                    <ion-icon *ngIf="(retorno_destino==true)" ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </ion-item>
                

                <ion-item-divider color='light'>
                    <ion-icon ios="ios-time" md="md-time" item-left></ion-icon>
                    Horário de Saída
                </ion-item-divider>
                <ion-item>
                    <ion-label floating>Dia</ion-label>
                    <ion-datetime [(ngModel)]="_caronaService.carona.trajeto.dia_saida" name="dia" displayFormat="DD/MM/YYYY"></ion-datetime>
                </ion-item>
                
                <ion-item>
                    <ion-label floating>Horario</ion-label>
                    <ion-datetime [(ngModel)]="_caronaService.carona.trajeto.hora_saida" name="saida" displayFormat="h:m a"></ion-datetime>
                </ion-item>
        
                
                <ion-item-divider color='light'>
                    <ion-icon ios="ios-timer" md="md-timer" item-left></ion-icon>
                    Tolerância
                </ion-item-divider>
                <ion-item>
                    <ion-label floating>Tempo de Tolerância</ion-label>
                    <ion-datetime [(ngModel)]="_caronaService.carona.trajeto.tolerancia" name="saida" displayFormat="h:m a"></ion-datetime>
                </ion-item>

            </ion-card-content>
        </ion-card>
    
        <button (click)="cadastrarCarona()" ion-button block type="submit">Solicitar Carona</button>
    </form>
    

</ion-content>
