page-listagem-caronas{

    ul{
        list-style: none;
    }

    #nome {
        font-style:italic;
        font-size: 110%;
        color: #000000;
        text-align: left;
    }
    #idade {
        font-size: 80%;
        color: #000000;
        text-align: left;
    }
    #lc-destino {
        font-size: 80%;
        color: #000000;
        text-align: left;
    }
    #lc-origem {
        font-size: 80%;
        color: #000000;
        text-align: left;
    }
    #lc-data {
        font-size: 80%;
        color: #000000;
        padding-left: 120px;
        float: left;
    }
    #foto {
        height: 65px;
        width: 65px;
    }

    #botao-adicionar{
        top: 90%;
    }
}
