page-avaliacao-carona {
    #titulo{
        font-size: 170%;

    }

    #denuncia{
        width: 60px;
        height: 20px;
        font-size: 10px;
        position: right;
    }

    #rating{
            font-size: 23px;
            
    }
    
        
        
}
